$input-bg-static: #ddd;
$input-bg-pseudo-active: #43A047;
$input-bg-pseudo-static: #E53935;

$input-width: 3rem; // checkbox size

$input-radius: calc( #{$input-width} / 2 );
$input-height: calc( #{$input-width} / 2 );
$input-light-dims: calc( #{$input-height} / 2.5 );

input[type="checkbox"] {
    top: 6px;
    position: relative;
    appearance: none;
    width: $input-width;
    height: $input-height;
    background-color: $input-bg-static;
    border-radius: $input-radius;
    outline: none; // bad accessibility
    transition: background 450ms ease;
    box-shadow: 0 0 0 3px darken($input-bg-static, 7.5%);

    &:before, &:after {
        position: absolute;
        display: block;
        content: "";
        border-radius: 100%;
        transition:
        background 450ms ease,
        transform 450ms ease;
    }

    &:before {
        width: calc( #{$input-width} / 2 );
        height: $input-height;
        background-color: $input-bg-pseudo-static;
    }

    // active state
    &:checked {

        &:before {
        background-color: $input-bg-pseudo-active;
        transform: translateX(100%);
        }
    }
}

.switch-scheme {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    label {
        margin-right: 0.5rem;
    }
}

.row {
    margin: 0 !important;
}

.card {
    background-color: rgba(255, 255, 255, 1)!important;
    box-shadow: 0 0 10px #cacaca66;
}

.card-body {
    padding-bottom: 20px;
}

.layout-container {
    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
}

small {
    display: block;
    color: #E53935;
    max-height: 0.2rem;
}

.colors-category {
    margin: 0 1.5rem 1rem 0;

    .colors-input {
        display: flex;

        label {
            margin: 0 1.5rem;
        }
    }
}

.config-container {
    margin-bottom: 15px;
}

.share-link {
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    font-size: 1.1em;
    margin-top: 0.5em;
    margin-bottom: 0;

    i {
        margin-left: 0.10em;
    }
}

.edit-btn {
    color: #fff;
    background-color: #fe0d70;
}

.share-whatsapp-btn {
    color: #fff;
    margin-left: 36px;
    background-color: #00b856;
}

.qrcode-body {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    text-align: center;

    button {
        color: #fff;
    }

    qrcode {
        margin: 1.3em 0;
        padding: 0;
    }
}

.center-contents-vertically {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    border-top: 1px solid #8c8b8b;
    margin: 0.5em 0 1.3em 0;
}

.bolder {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

.validating-modal {
    margin-top: 0.7em;
}

.color-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70px;

    input {
        max-width: 40px;
    }
}

.modal-header > h5 {
	margin: auto;
}

.modal-header > .close {
    margin: 0;
    padding: 0;
}

.input-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1.5em;
}

@media (max-width: 980px) {
    .share-link {
        text-align: center;
        margin-bottom: 1em;
    }
}

.not-permission {
    background-color: rgba(195 195 195 / 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    &::before {
        content: 'Indisponível para seu plano';
        color: #000000;
        text-align: center;
        font-weight: 500;
        font-size: 1.2rem;
        text-shadow: 0 0 10px #FFFF, 0 0 5px #FFFF;
    }
}

.config-link-preview-container {
    .link-preview {
        background-color: #cfe9ba;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        color: #303030;
        font-size: 13.6px;
        line-height: 20px;
        min-width: 80%;

        img {
            flex: 0 0 auto;
            height: 100px;
            width: 100px;
            object-fit: contain;
        }

        .link-preview-details {
            padding: 6px 10px;
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            max-height: 100px;
            overflow: hidden;
            line-height: 19px;

            .link-preview-title {
                margin-bottom: 2px;
                flex: 0 1 auto;
                overflow: hidden;
                color: #000;
                text-overflow: ellipsis;

                span {
                    visibility: visible;
                }
            }

            .link-preview-description {
                padding-top: 1px;
                flex: none;
                color: rgb(0, 0, 0, 0.8);
                font-size: 12px;
                text-overflow: ellipsis;

                span {
                    visibility: visible;
                }
            }
        }
    }
}

.card-referral {
    &:before {
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        top: -29px;
        left: -7px;
        border-style: solid;
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent;
        border-right: 45px solid #fc0d70;
        border-left: 0;
        transform: rotate(45deg);
        box-shadow: 4px 0px 3px -3px rgb(0 0 0 / 66%);

        @media (max-width: 767px) {
            border-top: 40px solid transparent;
            border-bottom: 40px solid transparent;
            border-right: 40px solid #fc0d70;
            top: -27px;
        }
    }

    .referral-link {
        border: solid 1px #f90c70;
        padding: 0.5rem;
        width: auto;
        border-radius: 5px;

        i {
            margin-left: 0.5rem;
        }
    }

    .small-text-referral {
        font-size: 0.9rem;
        line-height: 1rem;
    }

    .divider-referral {
        border-top: 1px solid rgba(140, 139, 139, 0.3);
        margin: 1rem 0 1rem 0;
        width: 100%;
    }

    ul.share-buttons {
        list-style: none;
        margin-top: 1rem;
        margin-bottom: 0;
        padding: 0;

        li {
            margin-left: 10px;
            display: inline-block;

            &:nth-child(1){
                margin-left: 0;
            }

            i {
                font-size: 1.4rem;
            }
        }
    }

    ul.stores{
        padding: 0;
        margin: 0;
        text-align: left;

        @media (max-width: 767px) {
            text-align: left;
            margin-top: 10px;
            margin-bottom: 40px;
        }

        li{
            list-style-type: none;
            display: inline-block;
            vertical-align: text-top;

            @media (max-width: 767px) {
                display: block;
            }

            a {
                span {
                    font-size: 100px;
                    position: absolute;
                    top: -2rem;
                    height: 80px;
                    left: 1rem;
                    color: #000000;
                }

                &:hover {
                    text-decoration: none;

                    span {
                        &:before {
                            color: #ff0175 !important;
                            background: -webkit-linear-gradient(top right, #e1f929, #ff0175);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }

            &:nth-child(2){
                margin-left: 30px;

                @media (max-width: 1199px) and (min-width: 767px) {
                    margin-left: 0;
                }

                a{
                    span {
                        left: calc(2.4rem + 100px);
                        top: -2.2rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .container {
        background-color: var(--container-background-color, transparent);
        min-height: calc(100vh - 70px);
        max-width: unset !important;

        .card {
            border: unset !important;
            box-shadow: unset !important;
            margin: 0;
        }

        .card-referral {
            padding-left: 0;
            padding-right: 0;
            &:before {
                display: none;
            }
        }
    }

    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: block !important;
    }
}
